.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #292828;
  }
  
  .links {
    display: flex;
  /* justify-content: space-between;
    align-items: center; */
    gap: 50px;
  }
  
  .links a {
    text-decoration: none;
    color: orangered;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .links a:hover {
    color: rgba(15, 14, 14, 0.922);
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 20px;
    }
  
    .links {
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
    }
  
    .links a {
      padding: 8px 0;
    }
  }
  