.container {
    max-width: 1000px;
    margin: auto;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    text-align: center;
    /* background-color: rgb(176, 170, 168); */
  }
  
  .title {
    font-size: 2.2rem;
    color:orangered;
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight:bold;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
  
  .card {
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .projectTitle {
    color: orangered;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  
  .description {
    color: #444;
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .techStack {
    margin-bottom: 15px;
  }
  
  .tech {
    display: inline-block;
    background: #e6f0ff;
    color: orangered;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 3px;
  }
  
  .links a {
    color: orangered;
    margin-right: 15px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
  }
  
  .links a:hover {
    color: #787c82;
  }
  