body {
  background-color: rgb(246, 242, 242) ;
}
h1{
  color: orangered;
  font-weight: 300;
  font-size:xx-large;
 
}



h3{
  color: orangered;
}
.circle{
  margin-left: 1250px;
  background-color: orangered;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.innercircle{
  border: orangered solid 6px;
  background-color:white;
  height: 270px;
  width: 270px;
  border-radius: 50%;
}
/* .mini-circle{
  background-color: orangered; */
  /* border: black solid 2px; */
  /* height: 200px;
  width: 200px;
 margin-right: 300px;
  border-radius: 50%;
} */